
/* file */

.file-dropdown {
    position: relative;
    display: inline-block;
}

.file-dropdown-menu button {
    display: none;
}

.file-dropdown-menu {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    min-width: 160px;

    background: #252526;
    border: 1px solid #3c3c3c;
    border-radius: 4px;

    z-index: 1000;
}

.file-dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

.file-dropdown-menu.show button {
    display: block;
}


/* open submenu */


.open-wrapper {
    position: relative;
}

.open-submenu {
    display: none;

    position: absolute;
    left: 100%;
    top: 0;

    min-width: 200px;

    background: #252526;
    border: 1px solid #3c3c3c;
    border-radius: 4px;

    z-index: 1001;
}

.open-submenu.show {
    display: block;
}


#open-button {
    width: 100%;
}